<header xmlns:th="http://www.thymeleaf.org"
        data-th-fragment="frag-entete">
    <section id="nav-title">
        <h1>
            <a href="/">
               <!-- <img data-th-src="@{/images/logoVeterinaire.png}"/> -->
                <span data-th-text="#{nom-application}"></span>
            </a>
        </h1>
    </section>
    <nav>
        <ul>
            <li >
                <a href="/fichier" data-th-text="#{frag-entete.a.fichier}"></a>
            </li>

            <li >
                <a href="/rendez-vous" data-th-text="#{frag-entete.a.rdv}"></a>
            </li>

            <li >
                <a href="/login" data-th-text="#{frag-entete.a.agenda}"></a>
            </li>
            <li >
                <a href="/personnels" data-th-text="#{frag-entete.a.Gest-personnel}"></a>
            </li>
        </ul>
    </nav>
</header>
